<!DOCTYPE HTML>
<html>
<head>
  <title>Url Shortening</title>
  <!--부트스트랩 css 추가-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Url Shortening</h1>
  </div>
  <div class="jumbotron">
    <div>
      <input type="text" id="inputUrl" style="width: 500px; height: 40px" placeholder="  변경할 URL 을 입력하세요." />
      <button type="button" class="btn btn-primary" id="convert">변경</button>
    </div>
  </div>
  <div class="footer">
    <ul class="pull-right convertList"></ul>
  </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $.ajax({
      url: "/list",
      method: "get",
      success: function (result) {
        for (var index in result) {
          $(".convertList").append('<li id="' + result[index].key + '" ><a target="_blank" href="' + result[index].shortUrl + '"><span class="tab">' + result[index].shortUrl + '</span></a></li>');
        }
      }
    });

    $(".jumbotron").on("keypress", function (event) {
      if (event.keyCode == 13) {
        convert();
      }
    });

    function convert() {
      $.ajax({
        url: "/encrypt",
        method: "post",
        dataType: "json",
        data: {
          "originUrl": $("#inputUrl").val()
        },
        success: function (result) {
          var $li = $("#" + result.key);
          if ($li.length == 0) {
            $(".convertList").append('<li id="' + result.key + '" ><a target="_blank" href="' + result.shortUrl + '"><span class="tab">' + result.shortUrl + '</span></a></li>');
          } else {
            for (var toggleCount = 0; toggleCount < 4; toggleCount++) {
              $li.toggle(300);
            }
          }
        },
        error: function (request) {
          $(".convertList").append('<li>단축 URL 생성에 실패하였습니다 [ ' + jQuery.parseJSON(request.responseText).message + ' ]</li>');
        }
      });
    }

    $('#convert').click(function () {
      convert();
    });
  });
</script>
</body>
</html>