<!DOCTYPE HTML>
<html>
<head>
  <title>Url Shortening</title>
  <!--부트스트랩 css 추가-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li>함문규 E-mail : gkaansrb@naver.com</li>
    </ul>
  </div>
  <div class="jumbotron">
    <div>
      <input type="text" id="inputUrl" style="width: 500px; height: 40px" placeholder="  변경할 URL 을 입력하세요." />
      <button type="button" class="btn btn-primary" id="convert">변경</button>
    </div>
  </div>
  <div class="footer">
    <ul class="nav nav-pills pull-right convertList">
      <li>
        <a href=""></a>
      </li>
    </ul>
  </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".jumbotron").on("keypress", function (event) {
      console.log(event.toString());
      if (event.keyCode == 13) {
        convert();
      }
    });

    function convert() {
      console.log($("#inputUrl").val());
      $.ajax({
        url: "/encrypt",
        method: "post",
        dataType: "json",
        data: {
          "originUrl": $("#inputUrl").val()
        },
        success: function (result) {
          $(".convertList").append('<li><a target="_blank" href="' + result.domain + 'decrypt?shortUrl=' + result.key + '"><span class="tab">' + result.shortUrl + '</span></a></li>');
        }
      });
    }

    $('#convert').click(function () {
      convert();
    });
  });
</script>
</body>
</html>